@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    outline:none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}
body{
    background-image: url('download\ \(1\).jpeg');
    background-size: cover;
}
header{
   margin: 20px;
   border-radius: 15px;
   
    background-color:#EAD7C5E6;
    top:0; left:0; right:0;
    padding: 2rem 9%;
    display: flex;
    align-items:center;
    justify-content: space-between;
    box-shadow: 0 .5rem 1rem rgba(0, 0,0, .1);
}
header .icons a{
    font-size: 2rem;
    color: #a3333d;
    margin-left: 2rem;
}
header .icons a:hover{
    color:#5a2331;
}
header h1{
     font-size: 2rem;
    padding: 0 1.5rem;
    color: #A3333D;
    font-family:'Sacramento';
}
.products .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.products .box-container .box{
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,0.1);
    border-radius: .5rem;
    border: .1rem solid rgba(0,0,0,.1);
    position: relative;
    background-color: #1f1f1f;
}
section{
    padding: 2rem 9%;
    margin-top:50px;
}
.products .box-container .box .discount{
    position: absolute;
    top: 1rem; left:1rem;
    padding: .7rem 1rem;
    font-size: 2rem;
    color:bisque;
    background:#1f1f1f;
    z-index:1;
    border-radius: .5rem;
}
.products .box-container .box .image{
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
}
.products .box-container .box .image img{
    height:25rem;
}
.products .box-container .box .image .icons{
    position: absolute;
    bottom:-7rem; left:0; right:0;
    display:flex;
}
.products .box-container .box:hover .image .icons{
    bottom:0;
}

.products .box-container .box .image .icons a{
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    width:50%;
    background: bisque;
    color:#A3333D;
}
.products .box-container .box .image .icons .cart-btn{
    border-left: .1rem solid #fff7;
    border-right: .1rem solid #fff7;
    width:100%;
}
.products .box-container .box .image .icons a:hover{
    background:#333;
}
.products .box-container .box .content{
    padding:2rem;
    text-align: center;
}
.products .box-container .box .content h3{
    font-size: 2.5rem;
    color: bisque;
}
.products .box-container .box .content .price{
    font-size:2.5rem;
    color:#A3333D;
    font-weight:bolder;
    padding-top:1rem;
}
.products .box-container .box .content .price span{
    font-size:1.5rem;
    color:#5a2331;
    font-weight:lighter;
   text-decoration: line-through;
}


