@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    outline:none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}
body{
    background-image: url('download\ \(1\).jpeg');
    background-size: cover;
}
header{
   margin: 20px;
   border-radius: 15px;
    position: fixed;
    background-color:#EAD7C5E6;
    top:0; left:0; right:0;
    padding: 2rem 9%;
    display: flex;
    align-items:center;
    justify-content: space-between;
    box-shadow: 0 .5rem 1rem rgba(0, 0,0, .1);
}

header .navbar ul{
    list-style: none;
    margin:0; padding:0;
    display:flex;
}
header .navbar li{
    position: relative;
}
header .navbar > ul> li> a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #A3333D;
    font-family:'Sacramento';
   display:block;
   text-decoration: none;
}
header .icons a{
    font-size: 2rem;
    color: #a3333d;
    margin-left: 2rem;
}
header .icons a:hover{
    color:#5a2331;
}
header .navbar li ul{
    position:absolute;
    top:100%;
    left:0;
    background:#ffffffcc;
    min-width: 150px;
    list-style: none;
    padding:0; margin:0;
    display: none;
}
header .navbar li ul li a{
    color: #a3333d;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 8px 12px;
    display: block;
}
header .navbar li ul li a:hover{
    background: #d9bfa8;
}
header .navbar li:hover ul{
    display:block;
}
section{
    padding: 2rem 9%;
}
.home{
    margin-top: 90px;
   display:flex;
   align-items: center;
    min-height: 100vh;
   
}
.home .content{
    max-width:50rem;
    padding: 1rem;
    background-image: url(download\ \(3\).jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 450px;
    width: 100%;
     border-radius: 15px;
}


.home .content p{
    font-size: 1rem;
    color:#A3333D;
    padding: 0.75rem 0;
    line-height: 1.5;
}


